
body {
	background-image:url('../img/background-grid-green.png');
	background-repeat:repeat;
}
@media (max-width: 767px) {
  body {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

/* Shadow style
================================================ */
.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

/* Notice
================================================ */
#notice {
	width: 100%;
	height: 54px;
	background-image: url('../img/notice-background.png');
	background-repeat: repeat-x;
	overflow: hidden;
}
#notice p {
	padding-top: 10px;
}

/* Scotch Tape
================================================ */
#tape {
	display: block;
	margin: 15px auto -25px auto;
}

/* Question
================================================ */
#question {
	width: 550px;
	min-height: 60px;
	background: white;
	border: 1px solid gray;
	padding: 40px 40px 20px 40px;
	margin-left: auto;
	margin-right: auto;
}
#question p {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-size: 20px;
	margin-bottom: 20px;
}

#question p.date {
	font-weight: bold;
}

/* Editor
================================================ */
#expander {
	display: none;
	margin-top: 20px;
}
#editor {
	width: 100%;
	height: 300px;
	background-color: lightblue;
}
#output {
	width: 100%;
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: auto;
}

/* Brain logo
================================================ */
#logo {
	position: absolute;
	top: 330px;
	left: 50%;
	z-index: -1;
	display: block;
	margin-left: -160px;
	margin-top: 40px;
	width: 320px;
}