
body {
	background-image:url('../img/background-grid-green.png');
	background-repeat:repeat;
}
.vspace {
	height: 20px;
}

/* STYLES FOR TESTING
================================================ */
.testing {
	border: 1px solid black;
}

/* Space for the question box
================================================ */
#question-spacer {
	height: 245px;
}

/* Question
================================================ */
#question-overlay {
	position: absolute;
	z-index: 100;
	top: 61px;
	left: 0px;
	width: 100%;
}